.activeItem path{
    fill: #2D1CC6 !important;
    stroke: #2D1CC6 !important;
}


.card {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 77px;
  }

  .image {
    width: 95%;
    height: auto;
  }

  h1 {
      text-align: center;
      font-size: 27px;
  }

  .containerAno {
      height: 145px;
      border-radius: 17px;
      background-color: #2D1CC6;
      margin: 30px 22px 13px 22px;
      color: #fff;
  }

  h2 {
      font-size: 70px;
      margin-left: 55px;
      margin-top:35px;
      margin-right: 55px;
      font-weight: 300;
  }

  h3 {
      font-size: 22px;
      font-weight: 300;
  }

  .contentAno {
      display: flex;
      flex-direction: row;
  }

  .ano {
      margin-top: 38px;
      margin-left: -50px;
  }

  h4 {
      font-weight: 400;
      font-size: 12px;
      margin-top:-20px
  }

  h5 {
      font-size: 85px;
      font-weight: 400;
      margin-top: 0px;
      color: #2D1CC6;
      letter-spacing: -4px;
  }

  .containerDias {
    display: flex;
    flex-flow: row;
    height: 150px;
    margin-left: 82px;
  }

  .contentDias {
      margin-left: 8px;
      margin-top: 2px;
      color: #2D1CC6;
  }

  .desc {
      text-align: center;
      margin: -59px 50px 0px 50px;
      font-size: 15px;
      color: #2D1CC6;
  }

  .extra{
      margin-top: 22px;
      height: 94px;
      text-align: center;
      font-weight: 200;
      display: grid;
      font-size: 14px;
    }

    .limite {
      margin-bottom: 0px;
      margin-top: 0px
    }